<main class="management-page">
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/');
    } %>

    <!-- Flash message (if available) -->
    <div class="flash-message">
        <%- messages() %>

        <% if (errors) { %>
        <ul class="notice">
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
    </div>
</main>