<main>
    <section id="home" class="intro">
        <h2>Welcome to CSE Motors!</h2>
    </section>

    <!-- FEATURE SECTION -->
    <section class="feature">
        <figure class="feature-card">
            <img src="images/vehicles/delorean.jpg" alt="DMC DeLorean" class="feature-img">
            <figcaption class="feature-info">
                <h3 class="feature-title">DMC Delorean</h3>
                <ul class="feature-list">
                    <li>3 Cup holders</li>
                    <li>Supreman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <a class="btn-own" href="#">Own Today</a>
            </figcaption>
        </figure>
    </section>

    <!-- UPGRADE & REVIEW SECTION -->
    <div class="upgrades-reviews">
        <!-- UPGRADE SECTION -->
        <section class="upgrades">
            <h3>Delorean Upgrades</h3>
            <div class="upgrade-grid">
                <a class="upgrade-card" href="#">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <span>Flux Capacitor</span>
                </a>
                <a class="upgrade-card" href="#">
                    <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                    <span>Flame Decals</span>
                </a>
                <a class="upgrade-card" href="#">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <span>Bumper Stickers</span>
                </a>
                <a class="upgrade-card" href="#">
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <span>Hub Caps</span>
                </a>
            </div>
        </section>

        <!-- REVIEW SECTION -->
        <section class="reviews">
            <h3>DMC Delorean Reviews</h3>
            <ul class="review-list">
                <li>"So fast it's almost like traveling in time."</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </div>
</main>