<main class="form-container">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else { 
        res.redirect('/'); 
    } %>

    <!-- Flash message (if available) -->
    <div class="flash-message">
        <%- messages() %>

        <% if (errors) { %>
        <ul class="notice">
            <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
    </div>

    <form action="/inv/add-classification" method="post" class="data-form">
    <label for="classification_name">Classification Name</label>
    <input 
        type="text" 
        id="classification_name" 
        name="classification_name" 
        value="<%= locals.classification_name %>" 
        required
        pattern="[A-Z][A-Za-z0-9 ]*"
        title="Classification name must start with a capital letter."
    >

    <button type="submit">Add Classification</button>
    </form>
</main>