<main class="management-container">
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/');
    } %>

    <!-- Flash message (if available) -->
    <div class="flash-message">
        <%- messages() %>
    </div>

    <ul class="management-links">
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
</main>